%fieldset
  %legend
    %h1 Listing templates

  %table
    %thead
      %tr
        %th Name
        %th Pages Count
        %th{:colspan => 3}

    %tbody
    - @templates.each do |template|
      %tr
        %td= template.name
        %td= template.pages.count
        %td= link_to 'Show', template
        %td= link_to 'Design', design_template_page_path(template, template.pages.first) if template.pages.count > 0
        %td= link_to 'Destroy', template, :confirm => 'Are you sure?', :method => :delete

= link_to 'New Template', new_template_path
