<div class="asset_container">
  <div class="dynamic">
    <!-- Slider -->
    <div class="dynamic_slide"></div>

    <!-- NAME -->
    <div class="dynamic_desc"><%= a.name %></div>

    <!-- hidden values -->
    <input type="hidden" name="template_asset_id[]" value="<%= a.id %>"/>
    <input type="hidden" name="pos_x[]" value="" />
    <input type="hidden" name="pos_y[]" value="" />
    <input type="hidden" name="width[]" value="" />
    <input type="hidden" name="height[]" value="" />
    <%
    grid = Array.new
    interval = (a.column.nil? || a.column == 0) ? 100 : (100.0 / a.column.to_i).ceil
    i = 0
    while i < 100
      grid.push i
      i += interval
    end
    %>
    <input type="hidden" name="grid[]" value="<%= grid.join(",")  %>" />
    



    <!-- Styling of the asset -->
    <div class="styles">
      Font:
      <select name="font[]">
        <option></option>
        <% @font.each do |f| %>
          <option><%= f.name %></option>
        <% end  %>
      </select>

      Size:
      <select name="size[]">
        <option></option>
        <% @size.each do |s| %>
          <option><%= s.name %></option>
        <% end  %>
      </select>

      Color:
      <select name="color[]">
        <option></option>
        <% @color.each do |c| %>
          <option value="<%= c.value   %>"><%= c.name %></option>
        <% end  %>
      </select>

      Alignment:
      <select name="align[]">
        <option></option>
        <% @align.each do |a| %>
          <option value="<%= a.value   %>"><%= a.name %></option>
        <% end  %>
      </select>

      Number Of Rows:
      <select name="max_rows[]">
        <option></option>
        <% @row.each do |r| %>
          <option><%= r.value %></option>
        <% end  %>
      </select>

      Borders:
      Yes <input type="radio" name="borders[]" value="1" /> No <input type="radio" name="borders[]" value="0" />
    </div>
    <!-- End Styling -->
    
  </div>
</div>