<html>
<head>
<%= stylesheet_link_tag "/javascripts/jquery/css/ui-lightness/jquery-ui-1.8.14.custom.css" %>
<%= stylesheet_link_tag "/stylesheets/main.css" %>
<%= javascript_include_tag "jquery/js/jquery-1.5.1.min.js" %>
<%= javascript_include_tag "jquery/js/jquery-ui-1.8.14.custom.min.js" %>

<%= javascript_include_tag "jquery.popupwindow.js" %>
<%= javascript_include_tag "script.js" %>
</head>
<body>

<%= yield %>
  
</body>
</html>